<div class="navbar">
    <div class="logo-text">
        <h1 (click)="scrollTo('home')">Ethan Wright</h1>
    </div>
    <ul class="sections">
        <li (click)="scrollTo('home')">Home</li>
        <li (click)="scrollTo('about')">About</li>
        <li (click)="scrollTo('experience')">Experience</li>
        <li (click)="scrollTo('skills')">Skills</li>
        <li (click)="scrollTo('projects')">Projects</li>
        <li (click)="scrollTo('contact')">Contact</li>
        <li class="highlight"><a href="/EthanWright_Resume-web.pdf" target="_blank">Resume</a></li>
    </ul>
</div>